
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {	
	.header-area {
    	background-repeat: round;
    	color: white;
		margin-bottom: 30px;
	}

	.header-logo img {
		width: 80%;
	}

	.header-left {
		padding-bottom: 30px;
		text-align: center;
		padding-top: 30px;
	}

	.header-left h2 {
		font-size: 30px;
	}

	.header-left h6 {
		color: #9fcb22;
		font-size: 20px;
	}

	.header-left p {
		color: gray;
		font-size: 18px;
	}

	.header-left-btn {
		padding: 10px 30px;
		margin: 0;
	}

	.header-right-btn {
		padding: 10px 30px;
	}

	.products {
		padding: 0;
	}

	.categories {
		margin: 5px;
	}

	.categories h4 {
		font-size: 25px;
		line-height: 30px;
	}

	.inner-text {
		padding: 30px 0 30px 30px;
	}

	.inner-text h4 {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.products button {
		font-size: 12px;
	}

	.cat-one, .cat-two {
		margin-bottom: 20px;
	}

	.trading-products {
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.trading-products-bg {
		margin: 0;
		margin-bottom: 20px;
	}

	.trading-products-img {
		margin-bottom: 15px;
	}

	.trading-products-img img {
		width: 50%;
		margin-top: 0px;
	}

	.trading-products ul {
		padding-top: 5px;
		padding-bottom: 10px;
	}

	.trading-products h1 {
		font-size: 25px;
	}

	.trading-products h2 {
		font-size: 17px;
	}

	.trading-products p {
		font-size: 17px;
		margin-bottom: 15px;
	}

	.trading-products button {
		padding: 10px 10px;
		font-size: 12px;
	}

	.trading-banner h6 {
		padding-top: 15px;
	}

	.trading-banner h2 {
		font-size: 25px;
	}

	.offer-area {
		text-align: center;
		background-image: url(../images/trading.png);
		background-repeat: no-repeat;
    	background-size: cover;
	}

	.offers {
		padding: 0;
		padding-top: 20px;
	}

	.offer-area h2 {
		font-size: 25px;
		color: white;
	}

	.about-area {
		margin-top: 30px;
	}

	.about-text {
		margin-top: 25px;
		padding: 25px;
	}

	.about-text h6 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	
	.about-text h2 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.about-text p {
		font-size: 10px;
	}

	.about-text button {
		padding: 12px 30px;
	}

	.features-area  {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.featured-products {
		padding: 30px 0;
	}

	.features-area button {
		padding: 12px 30px;
		font-size: 12px;
	}

	.features-item {
		padding: 0 15px;
	}

	.features-area p {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.testimonial-area h2 {
		font-size: 31px;
	}

	.testimonial-area1 {
		margin: 10px 0px;
		height: auto;
	}

	.subscribe {
		padding: 15px 20px 20px;
    	margin-top: 25px;
	}

	.subscribe h2 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.subscribe-area input[type=email] {
		font-size: 11px;
	}

	.subscribe-area input[type=submit] {
		width: 30%;
		font-size: 11px;
	}

	.copyright {
		text-align: center;
	}

	.about-us {
		margin-bottom: 45px;
    	margin-top: 35px;
		padding: 0px;
	}

	.about-us ul {
		padding-top: 15px;
	}

	.about-us h2 {
		color: black;
		font-size: 30px;
		padding-bottom: 14px;
	}

	.about-us ul li {
		margin: 0 10px;
	}

	.about-us ul li a {
		font-size: 16px;
	}

	.grocery-area {
		padding-top: 0;
		margin-top: 25px;
	}

	.grocery-img {
		position: absolute;
		opacity: 0.3;
	}

	.grocery-img img {
		margin-left: -5%;
	}

	.grocery-text {
		padding-top: 85px;
	}

	.grocery-text h2 {
		text-align: center;
		font-size: 25px;
	}

	.our-vision {
		margin-bottom: 30px;
	}

	.our-vision, .our-goal {
		padding: 20px;
	}

	.our-vision h2, .our-goal h2 {
		font-size: 22px;
	}

	.our-vision p, .our-goal p {
		font-size: 12px;
		line-height: 20px;
	}

	.our-vision button, .our-goal button {
		padding: 10px 20px;
		font-size: 12px;
	}

	.about-video {
		padding: 130px;
		background-repeat: round;
	}

	.about-features-area h2 {
		font-size: 30px;
		padding-bottom: 15px;
	}

	.customer-review {
		padding: 40px;
	}

	.coustomer-logo {
		padding-top: 15px;
	}

	.testimonial-area {
		margin-bottom: 20px;
	}

	.testimonial-area p {
		font-size: 16px;
	}

	.testimonial-area-inner img {
		width: 25px !important;
		height: 25px;
		margin-bottom: 15px;
		margin-top: 0;
	}

	.subscribe-area img {
		max-width: 40%;
		margin-bottom: -31%;
	}

	.footer {
		padding: 40px;
		margin-top: 20px;
	}

	.footer-box {
		padding-left: 0px;
	}

	.copyright ul {
		float: none;
	}

	.shop-features-area {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.shop-checkbox-categories {
		border: none;
		padding: 0;
	}

	.shop-checkbox-categories:hover {
		padding: 10px;
		border: 1px solid #0dcaf0;
	}

	.pages-product {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.pages-product ul {
		margin: 0;
	}

	.pages-related-product {
		margin-bottom: 40px;
	}

	.slider-product-details p {
		font-size: 15px;
	}

	.nav-tabs .nav-link {
		font-size: 20px;
		margin-right: 25px;
	}

	.tab-pane p {
		font-size: 16px;
	}

	.review {
		margin-bottom: 30px;
	}

	.pages-description ul {
		margin-bottom: 15px;
	}

	.rating ul li i {
		font-size: 8px;
		margin-bottom: 0;
	}

	.trading-products-bg button {
		padding: 6px 12px;
		font-size: 12px;
		margin-bottom: 25px;
	}

	.blog-posts {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.blog-slider {
		margin-bottom: 30px;
	}

	.shop-trading-img img {
		width: 85%;
	}

	.shop-trading-text h2 {
		font-size: 13px;
	}

	.shop-trading-text h6 {
		font-size: 10px;
		margin: 0;
	}

	.header-menu {
		padding: 0;
	}

	.testimonial-area {
		padding: 0;
	}

	.testimonial-area-inner {
		margin-bottom: 30px;
	}

	.testimonial-area h2 {
    	font-size: 20px;
    	padding-bottom: 5px;
	}

	.blog-post-categories {
		border: none;
	}

	.contact-map {
		padding: 25px 0;
	}

	.groxi-contact-area {
		margin-bottom: 30px;
	}
}

/*###############################################################################################################################################################################################################*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.header-area {
		background-size: cover;
	}

	.header-logo {
		text-align: center;
		padding-bottom: 30px;
	}

	.header-logo img {
		width: 100%;
	}

	.header-menu ul {
		padding-left: 0;
	}

	.header-menu ul li {
		font-size: 30px;
	}

	.header-menu ul li {
		padding: 0;
	}

	.header-menu ul li a {
		padding-left: 43px;
	}

	.header-icon {
		text-align: center;
	}

	.header-left h6 {
		font-size: 20px;
	}

	.header-left {
		padding: 50px 0;
	}

	.header-left h2 {
		font-size: 30px;
	}

	.header-left p {
		padding: 0;
		font-size: 15px;
	}

	.header-left-btn {
		padding: 10px 25px;
		font-size: 13px;
	}

	.header-right-btn {
		padding: 10px 25px;
		font-size: 13px;
	}

	.products {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.cat-one,.cat-two {
		margin-bottom: 30px;
	}

	.copyright ul {
		float: none;
	}

	.about-us {
		margin-top: 40px;
		margin-bottom: 50px;
		padding: 20px 0;
	}

	.about-us ul {
		padding-top: 5px;
	}

	.about-us ul li {
		margin: 5px;
	}

	.about-us ul li a {
		font-size: 16px;
	}

	.about-us h2 {
		font-size: 35px;
	}

	.header-area h2 {
		font-size: 35px;
	}

	.grocery-img img {
		margin-left: -20%;
		max-width: 120%;
	}

	.grocery-area {
		padding-top: 40px;
	}

	.grocery-text  {
		padding-top: 0;
	}

	.grocery-text h2 {
		font-size: 21px;
		margin-bottom: 10px;
	}

	.grocery-text p {
		font-size: 10px;
	}

	.about-video {
		padding: 130px;
		background-repeat: round;
	}

	.customer-review {
		padding: 40px 0;
	}

	.video-link a {
		padding: 35px;
	}

	.features-area img {
		padding-top: 15px;
	}

	.categories {
		margin-bottom: 10px;
		background-size: 35%;
	}

	.inner-text {
		padding: 45px;
	}

	.inner-text h4 {
		margin-bottom: 15px;
	}

	.inner-text button {
		font-size: 15px;
	}

	.trading-banner h6 {
		font-size: 25px;
	}

	.trading-banner h2 {
		font-size: 30px;
		padding-bottom: 0;
		margin-bottom: 30px;
	}

	.trading-products {
		margin-bottom: 30px;
	}

	.trading-products-img a i {
		line-height: 35px;
		width: 35px;
		height: 35px;
	}

	.trading-products ul {
		padding-top: 0px;
		padding-bottom: 8px;
	}

	.trading-products button {
		padding: 10px 20px;
	}

	.offers {
		padding: 0px;
	}

	.offer-area {
		text-align: center;
		background-image: url(../images/trading.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.offer-area h1 {
		font-size: 70px;
		padding: 15px;
		margin: 0;
	}

	.offer-area button {
		padding: 5px 20px;
		font-size: 15px;
		margin: 0;
	}

	.offer-area button i {
		margin-left: 10px;
	}

	.offer-area h2 {
		margin: 0;
		font-size: 30px;
		padding-bottom: 30px;
	}

	.about-area {
		margin-top: 30px;
	}

	.about-text {
		margin-top: 30px;
		padding: 30px;
	}

	.about-text h6 {
		font-size: 18px;
	}

	.about-text h2 {
		font-size: 25px;
	}

	.about-text p {
		font-size: 15px;
	}

	.about-text button {
		padding: 8px 20px;
		font-size: 15px;
	}

	.blog-posts {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.blog-slider {
		margin-bottom: 30px;
	}

	.features-area {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.features-item {
		padding: 0px;
	}

	.features-item h4 {
		font-size: 25px;
	}

	.features-item p {
		font-size: 13px;
		margin-bottom: 0;
	}

	.features-area button {
		padding: 8px 20px;
		font-size: 15px;
		margin-bottom: 30px;
	}

	.featured-products {
		padding: 30px 0;
	}

	.features-products h6 {
		font-size: 25px;
	}

	.features-products a {
		font-size: 25px;
	}

	.nav-tabs .nav-link {
		margin-right: 25px;
	}

	.testimonial-area-inner img {
		width: 25px !important;
		height: 25px;
		margin-bottom: 20px;
		margin-top: 0;
	}

	.testimonial-area p {
		font-size: 16px;
	}

	.testimonial-area h6 {
		font-size: 30px;
	}

	.testimonial-area h2 {
		font-size: 35px;
		padding-bottom: 0;
	}

	.testimonial-area1 {
		margin-top: 20px;
	}

	.testimonial-area-inner {
		margin-bottom: 30px;
	}

	.coustomer-logo {
		padding-top: 45px;
	}

	.coustomer-icon {
		width: 50%;
		display: inline;
	}

	.coustomer-icon img {
		padding-top: 20px;
		margin-left: 10px;
	}

	.our-vision, .our-goal {
		padding: 30px;
	}

	.our-vision h2, .our-goal h2 {
		font-size: 35px;
	}

	.our-goal p, .our-vision p {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.subscribe-area img {
		width: 100%;
	    margin-left: 0;
	    margin-top: -33px;
	    height: 350px;
		float: none;
	}

	.subscribe {
		background-color: transparent;
		margin-top: -35%;
	}

	.subscribe h2 {
		font-size: 36px;
		color: yellow;
	}

	input[type=email] {
		padding: 10px;
		font-size: 13px;
		width: 100%;
		margin-bottom: 15px;
	}

	input[type=submit] {
		padding: 10px;
		font-size: 13px;
		margin: 0;
		width: 40%;
	}

	.footer-box {
		padding-left: 0px;
	}

	.footer {
		margin-top: 0px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.copyright {
		text-align: center;
		padding-top: 10px;
	}

	.trading-products-bg {
		height: auto;
	}

	.shop-checkbox-categories {
		padding: 0;
		border: none;
	}

	.shop-checkbox-categories:hover {
		border: 1px solid #0dcaf0;
		padding: 10px;
	}

	.shop-categories-item {
		padding-top: 20px;
	}

	.shop-categories-item img {
		width: 50%;
		margin-top: 0;
	}

	.shop-trading-text h2 {
		font-size: 14px;
	}

	.shop-trading-text p {
		font-size: 10px;
	}

	.shop-trading-text ul li {
		font-size: 8px;
	}

	.shop-trading-img img {
		width: 90%;
	}

	.shop-features-area {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.rating ul li i {
		font-size: 10px;
		margin-bottom: 0;
	}

	.slider-product-details p {
		font-size: 16px;
	}

	.slider-product-details {
		padding-left: 10px;
	}

	.pages-product {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.pages-description p {
		font-size: 12px;
	}

	.pages-description {
		margin-bottom: 25px;
	}

	.pages-related-product {
		margin-bottom: 40px;
	}

	.tab-pane p {
		font-size: 18px;
	}

	.review {
		margin-bottom: 25px;
	}

	.trading-products-img img {
		width: 60%;
	}

	.contact-map {
		padding: 30px 0;
	}

	.testimonial-area {
		padding-top: 0;
	}

	.groxi-contact-area {
		margin-bottom: 60px;
	}
}

/*###############################################################################################################################################################################################################*/

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.header-area {
		background-repeat: round;
	}

	.header-left {
		padding: 40px 0;
	}

	.header-area h2 {
		font-size: 40px;
		padding-bottom: 0;
	}

	.header-area p {
		font-size: 15px;
    	padding-right: 37%;
    	padding-bottom: 5px;
	}

	.header-left-btn {
		padding: 10px 30px;
		font-size: 13px;
	}

	.header-right-btn {
		padding: 10px 30px;
		font-size: 13px;
	}

	.header-icon ul {
		padding-left: 75px;
	}

	.about-us {
		margin-top: 60px;
    	margin-bottom: 70px;
    	padding: 35px 0px;
	}

	.blog-posts {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.blog-slider {
		margin-bottom: 30px;
	}

	.pages-product {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.review {
		margin-bottom: 50px;
	}

	.pages-related-product {
		margin-bottom: 50px;
	}

	.products {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.inner-text {
		padding: 20px;
	}

	.cat-one, .cat-two {
		margin-bottom: 30px;
	}

	.categories {
		margin-bottom: 10px;
		background-size: 30%;
	}

	.trading-products ul {
		padding-top: 0px;
		padding-bottom: 10px;
	}

	.trading-products button {
		padding: 10px 25px;
	}

	.features-products-img {
		padding-top: 10px;
	}

	.offers {
		padding: 30px;
	}

	.offer-area {
	    text-align: center;
	    background-image: url(../images/trading.png);
	    background-repeat: round;
	    background-size: cover;
	}

	.offer-area h1 {
	    font-size: 51px;
	    padding: 15px;
	    margin: 0;
	}

	.offer-area h2 {
		font-size: 35px;
		margin: 20px;
	}

	.offer-area button {
	    padding: 5px 20px;
	    font-size: 15px;
	    margin: 0;
	}

	.about-area {
		margin-top: 30px;
	}

	.about-text {
		margin-top: 50px;
		padding: 50px;
	}

	.about-text h2 {
		font-size: 30px;
	}

	.about-text p {
		font-size: 15px;
	}

	.features-area {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.features-area p {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.img-wrap img {
		width: 100%;
	}

	.testimonial-area h2 {
		font-size: 35px;
		padding-bottom: 0;
	}

	.testimonial-area1 {
		margin-top: 20px;
	}

	.subscribe-area img {
	    margin-left: -60px;
	    margin-top: -33px;
		float: none;
	}

	.subscribe {
		color: white;
		margin-top: -285px;
		background-color: #aedf23;
		padding: 45px;
	}

	input[type=email] {
		padding: 10px;
		font-size: 13px;
		width: 100%;
		margin-bottom: 15px;
	}

	input[type=submit] {
		padding: 10px;
		font-size: 13px;
		margin: 0;
		width: 40%;
	}

	.copyright {
		padding-top: 10px;
	}

	.copyright p {
		margin-bottom: 0;
	}

	.about-us ul {
		padding-top: 10px;
	}

	.grocery-area {
		padding-top: 40px;
	}

	.grocery-text {
		padding-top: 0;
	}

	.grocery-text p {
		font-size: 12px;
	}

	.grocery-text h2 {
		font-size: 25px;
	}

	.grocery-img img {
		margin: 0;
	}

	.customer-review {
		padding: 40px 0;
	}

	.coustomer-logo {
		padding-top: 10px;
	}

    .slider-product-details button {
    	margin: 5px 0;
    	padding: 10px 42px;
    }

    .slider-product-details p {
    	font-size: 13px;
    }

	.shop-features-area {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.shop-trading-items {
		margin-bottom: 30px;
	}

    .product-service {
    	margin: 5px 0;
    }

    .product-share span {
    	font-size: 20px;
    	padding-right: 15px;
    }

    .product-share ul li i {
    	font-size: 13px;
    }

	.trading-products {
		margin-bottom: 30px;
		padding: 30px 0;
	}

    .trading-products-img {
    	margin-bottom: 20px;
    }

    .trading-products-img a {
    	font-size: 12px;
    	padding-left: 65%;
    }

    .trading-products-img a i {
    	line-height: 30px;
    	width: 30px;
    	height: 30px;
    }

    .pages-related-product ul {
    	margin: 5px 0;
    }

    .trading-products-bg ul li i {
    	font-size: 15px;
    }

    .trading-products-bg h2 {
    	font-size: 20px;
    }

    .trading-products-bg p {
    	font-size: 20px;
    	margin: 5px 0;
    }

    .trading-products-bg button {
    	padding: 10px 30px;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 30px;
    }

    .copyright p {
    	padding-top: 0;
    }

    .contact-reach-us h2 {
    	font-size: 35px;
    }

    .contact-reach-us i {
    	font-size: 35px;
    	padding: 25px 15px;
    }

    .contact-reach-us h6 {
    	font-size: 15px;
    }

    .contact-reach-us p {
    	font-size: 10px;
    	margin-bottom: 5px;
    }

    .contact-from input[type=email], .contact-from input[type=name], .contact-from input[type=phone], .contact-from input[type=address]{
    	font-size: 10px;
    }

    textarea {
    	font-size: 10px;
    }

    .contact-map {
    	padding: 30px 0;
    }

    .testimonial-area {
    	padding-top: 0;
    }

	.testimonial-area-inner {
		margin-bottom: 30px;
	}

	.testimonial-area img {
		margin-top: 0;
	}

	.testimonial-area p {
		font-size: 16px;
	}

	.footer-box {
		padding-left: 10px;
	}

	.groxi-contact-area {
		margin-bottom: 60px;
	}
}


/*###############################################################################################################################################################################################################*/

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	.header-left {
		padding-top: 0px;
		padding-bottom: 100px;
	}

	.header-left h6 {
		font-size: 18px;
	}

	.header-left h2 {
		font-size: 43px;
	}

	.heading-banner {
		padding-bottom: 60px;
	}

	.pages-product {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.products {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.categories {
		height: 200px;
	}

	.rating li i {
		margin-bottom: 0;
		font-size: 10px;
	}

	.shop-trading-img img {
		width: 80%;
		margin-left: 0;
	}

	.shop-trading-text h2 {
		font-size: 13px;
	}

	.shop-trading-items h1 {
		margin-left: 15px;
		padding: 15px 0 0;
		font-size: 22px;
	}

	.trading-products {
		margin-bottom: 30px;
		padding: 30px 0;
	}

	.trading-products ul {
		padding-top: 0px;
		padding-bottom: 15px;
	}

	.trading-products button {
		padding: 10px 25px;
	}

	.trading-products-img img {
		width: 60%;
	}

	.trading-products-img a i {
		line-height: 30px;
    	width: 30px;
    	height: 30px;
	}

	.trading-products-bg ul li i {
    	font-size: 12px;
    }

    .trading-products-bg h2 {
    	font-size: 18px;
    }

    .trading-products-bg p {
    	font-size: 16px;
    	margin: 5px 0;
    }

    .trading-products-bg button {
    	padding: 6px 12px;
    	font-size: 8px;
    }

	.features-products h2 {
		font-size: 25px;
	}

	.about-us {
		margin-top: 0;
		margin-bottom: 70px;
		padding: 30px 0;
	}

	.about-area {
		margin-top: 30px;
	}

	.about-text {
		margin-top: 40px;
		padding: 40px;
	}

	.about-text h2 {
		font-size: 30px;
	}

	.about-text p {
		font-size: 16px;
	}

	.about-text button {
		padding: 15px 30px;
	}

	.subscribe-area img {
		margin-left: -50px;
	}

	.header-icon {
	    margin-left: -38px;
	    text-align: right;
	}

	.grocery-area {
		padding-top: 40px;
	}

	.grocery-text {
		padding-top: 0;
	}

	.grocery-text h2 {
		font-size: 30px;
	}

	.grocery-text p {
		font-size: 18px;
	}

	.grocery-img img {
		height: 507px;
	}

	.customer-review {
		padding: 40px 0;
	}

	.testimonial-area-inner img {
		padding-top: 0;
	}

	.testimonial-area P{
		font-size: 18px;
	}

	.features-area {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.features-area img {
    	padding: 20px 0 16px;
	}

	.features-area p {
		margin-bottom: 0;
		font-size: 13px;
	}

	.features-area h4 {
		font-size: 18px;
	}

	.features-area  img {
		margin: 0;
	}

	.features-area button {
		padding: 15px 30px;
	}

	.copyright span {
		padding: 0;
	}

	.slider-product-details button {
    	padding: 10px 30px;
		font-size: 10px;
    }

	.plus {
		border-left: 0;
	}

	input[type=number] {
		width: 80px;
	}

	.tab-pane p {
		font-size: 18px;
	}

	.review {
		margin-bottom: 40px;
	}

    .slider-product-details p {
    	font-size: 13px;
    }

    .product-service {
    	margin: 5px 0;
    }

    .pages-product ul {
    	margin: 3px 0;
    }

    .slider-product-details h3 {
    	padding-top: 5px;
    }

    .slider-product-details p {
    	margin-bottom: 10px;
    }

	.subscribe {
		padding: 40px 0;
		margin-top: 80px;
	}

    .pages-description {
    	margin-bottom: 30px;
	}

	.pages-related-product {
		margin-bottom: 50px;
	}

    .pages-related-product ul {
    	margin: 5px 0;
    }

    .blog-posts {
    	margin-top: 60px;
		margin-bottom: 60px;
    }

    .blog-post-contant h6 {
    	font-size: 12px;
    }

    .blog-post-contant h4 {
    	font-size: 20px;
    	line-height: 22px;
    }

    .blog-post-contant p {
    	font-size: 14px;
    }

    .blog-post-contant button {
    	font-size: 12px;
    }

   	.contact-map {
   		padding: 40px 0;
   	}

   	.testimonial-area {
   		padding: 0;
   	}

	input[type=submit] {
		width: 30%;
	}

   	.copyright span {
   		padding-left: 20px;
   	}

	.footer-box {
		padding-left: 60px;
	}

	.groxi-contact-area {
		margin-bottom: 80px;
	}
}

/*####################################################################################################################*/

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1400px) {

	.header-menu {
		justify-content: start;
	}

	.header-left {
		padding: 50px 0;
	}

	.pages-product {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.tab-pane p {
		font-size: 16px;
	}

	.review {
		margin-bottom: 40px;
	}

	.products {
		margin: 70px auto;
	}

	.trading-products {
		margin-bottom: 70px;
		padding: 40px 0;
	}

	.about-us {
		margin-top: 40px;
		margin-bottom: 80px;
		padding: 30px 0;
	}

	.about-area {
		margin-top: 70px;
	}

	.about-text {
		margin-top: 70px;
		padding: 70px;
	}

	.about-text h2 {
		font-size: 30px;
	}

	.about-text p {
		font-size: 18px;
	}

	.blog-posts {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.grocery-area {
		padding-top: 40px;
	}

	.grocery-text {
		padding-top: 0;
	}

	.customer-review {
		padding: 60px 0;
	}

	.subscribe-area img {
		margin-left: -45px;
	}

	.testimonial-area p {
		font-size: 20px;
	}

	.img-wrap img {
		width: 100%;
	}

	.copyright span {
		margin-left: 85px;
	}

	.trading-products-img a i {
		line-height: 45px;
    	width: 45px;
    	height: 45px;
	}

	.features-area {
		margin-top: 70px;
		margin-bottom: 70px;
	}

    .product-service {
    	margin: 5px 0;
    }

    .pages-product ul {
    	margin: 3px 0;
    }

    .slider-product-details p {
    	margin-bottom: 18px;
    }

    .pages-description {
    	margin-bottom: 70px;
	}

	.product-share {
		padding-bottom: 15px;
	}

	.pages-related-product {
		margin-bottom: 40px;
	}

	.footer-box {
		padding-left: 110px;
	}


}

