

@font-face {
  font-family: Barlow-Regular;
  src: url(../fonts/Barlow-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Barlow-Light;
  src: url(../fonts/Barlow-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Barlow-Italic;
  src: url(../fonts/Barlow-Italic.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Barlow-Bold;
  src: url(../fonts/Barlow-Bold.ttf);
}

@font-face {
  font-family: Barlow-SemiBold;
  src: url(../fonts/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: Jost-Regular;
  src: url(../fonts/Jost-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Jost-Medium;
  src: url(../fonts/Jost-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Jost-Bold;
  src: url(../fonts/Jost-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Jost-SemiBold;
  src: url(../fonts/Jost-SemiBold.ttf);
  font-weight: 800;
}

body {
	width: 100%;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: gray;
}

ul {
	padding: 0;
	margin: 0;
}

.about-us a:hover {
	color: #9fcb22;
}

.active {
	color: #9fcb22 !important;
}

/*.heading-banner {
	margin-top: 30px;
}
*/
.header-area {
	background-image: url(../images/banner-img.png);
	background-repeat: round;
}

.header-area-bg img {
	float: left;
	width: 260px;
}

.header-left {
	padding: 240px 0;
}

.header-area h6 {
	font-family: Jost-Medium;
	color: #9fcb22;
	font-size: 25px;
	margin-bottom: 30px;
}

.header-area h2 {
	font-family: Jost-Bold;
	font-size: 70px;
	margin-bottom: 30px;
}

.header-area p {
	font-family: Barlow-Regular;
	font-size: 24px;
	flood-color: #252932;
	margin-bottom: 40px;
}


.header-left-btn {
	padding: 20px 50px;
	background-color: #9fcb22;
	color: white;
	border: none;
	font-family: Barlow-Regular;
	margin-right: 17px;
	font-weight: 600;
	border: 1px solid transparent;
}

.header-left-btn:hover {
	background-color: white;
	color: #9fcb22;
	border: 1px solid #9fcb22;
	transition: .5s;
}

.header-right-btn {
	padding: 20px 50px;
	background-color: #14462e;
	color: white;
	border: none;
	font-family: 'Barlow-Regular';
	font-weight: 600;
	border: 1px solid transparent;
}

.header-right-btn:hover {
	background-color: white;
	color: #14462e;
	border: 1px solid #14462e;
	transition: .5s;
}

.header-menu {
	justify-content: flex-end;
}

.header-menu ul li {
	list-style: none;
  	display: inline-block;
	  margin-right: 30px;
}

.header-menu ul li a {
	text-decoration: none;
	font-family: Barlow-Regular;
	color: #696c74;
}

.header-menu ul li:hover a {
	color: #9fcb22 !important;
}

.heading-banner {
	padding-top: 50px;
}

/*.header-icon {
	margin-left: 15px;
}
*/
.header-icon ul {
	padding: 0;
}

.header-icon ul li {
	text-decoration: none;
	display: inline-block;
	line-height: 45px;
	width: 45px;
	height: 45px;
	border: 1px solid #d3dfe8;
	text-align: center;
	border-radius: 50%;
	margin: 5px;
	background-color: white;
}

.header-icon ul li:hover {
	background: #9fcb22;
	transition: 1s;
}

.header-icon ul li:hover i {
	color: white;
	transition: 1s;
}

.header-icon ul li i {
	color: #9fcb22;
	font-size: 17px;
}

.header-menu ul li:hover a {
	color: #9fcb22 ;
}

.navbar-nav li a {
	font-size: 20px;
}


/* .navbar-toggler {
	padding: 0 5px;
	font-size: 20px;
	border: none;
} */

/*.categories-one {
	background-color: #92ddd8;
}

.categories-one img {
	padding-top: 50px;
}*/

.categories-img {
  padding-top: 40px;
	background-color: #a6d523;
}


/*.categories-three img {
	margin-left: -35px;
    padding-top: 30px;
    padding-bottom: 10px;
}*/

.products {
	margin-top: 140px;
	margin-bottom: 140px;
	color: white;
}

.products h2 {
	font-size: 23px;
 	font-family: 'Jost-Regular';
}

.products button {
	text-transform: none;
	color: white;
	background: transparent;
	border: none;
	padding: 0px;
	font-family: 'Barlow-Regular';
	font-weight: 600;
}

.products button i {
	margin-left: 10px;
}

.products-img {
	padding-top: 65px;
}

.trading-products ul li {
	display: inline-block;
	list-style: none;
}

.trading-products-bg {
	background-color: #f6fafb;
	border: 1px solid transparent;
	margin: 0px 5px 30px;
}

.rating li i {
	font-size: 15px;
	color: #fccc42;
	margin-bottom: 20px;
}

.trading-products-img {
  	margin-bottom: 55px;
}

.badge {
	float: left;
	background: #d9485b;
	color: white;
	font-size: 15px;
	border-radius: 0;
}

/*.trading-products-img img {
	margin-top: -20px;
	max-height: 180px;
}*/

.trading-products-img a {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

.trading-products-img a i {
	line-height: 35px;
	width: 35px;
	height: 35px;
	color: #9fcb22;
	border-radius: 50%;
	text-align: center;
	background-color: white;
	border: 1px solid #9fcb22;
}


.trading-products-bg:hover {
	border: 1px solid #9fcb22;
}

.trading-products-bg a:hover i {
	background-color: #9fcb22;
	color: white;
	border: 1px solid #9fcb22;
}

.trading-products-bg button:hover {
	background-color: #9fcb22;
}

.trading-products-bg h2 {
	font-family: 'Jost-Medium';
	font-size: 26px;
	color: #000;
}

.trading-products-bg p {
	font-family: Barlow-SemiBold;
	color: #9fcb22;
	font-size: 23px;
	margin-bottom: 25px;
}

.trading-products-bg del {
	font-family: Barlow-Regular;
	color: #bbbcbd;
}

.nav-tabs {
	margin-bottom: 30px;
	border-bottom: none;
}

.nav-tabs .nav-link {
	color: black;
}

.nav-tabs .nav-link.active {
	background: none;
	border-bottom: none;
}

.trading-products button {
	padding: 0;
	/* color: white; */
	background-color: #14462e;
	border: none;
	font-family: 'Barlow-SemiBold';
    font-size: 15px;
}

.trading-banner h6 {
	font-family: 'Jost-Medium';
    color: #9fcb22;
    font-size: 22px;
	margin-bottom: 20px;
}

.trading-banner h2 {
	font-family: 'Jost-Medium';
    font-size: 45px;
    margin-bottom: 50px;
}

.offers {
	padding: 30px 0px 30px 45px;
}

.offer-area {
	background-color: #b0e123;
	border-left: 5px solid yellow;
}

.offer-area h1 {
	font-size: 60px;
	font-family: Jost-Medium;
	color: white;
}

.offer-area span {
	color: yellow;
}

.offer-area button {
	background: transparent;
	border: none;
	font-family: Barlow-Regular;
	color: 	white;
	font-size: 21px;
}

.offer-area h2 {
	color: white;
	font-size: 46px;
	margin: 40px 0px;
	font-family: Jost-Medium;
}


/*##############################################################*/

.about-area {
	background-image: url(../images/about-area.png);
	background-repeat: round;
	margin-top: 140px;
}

.about-text {
	background-color: white;
	margin-top: 140px;
	border-top: 5px solid #9fcb22;
	padding: 90px 70px;
}

.about-text h6 {
	font-family: Jost-Medium;
	color: #9fcb22;
	margin-bottom: 25px;
	font-size: 22px;
}

.about-text h2 {
	font-family: Jost-SemiBold;
	margin-bottom: 20px;
	font-size: 45px;
}

.about-text p {
	color: #808080;
	font-size: 20px;
}

.about-text button {
	padding: 20px 45px;
    color: white;
    background-color: #9fcb22;
    border: none;
    margin-top: 15px;
	font-family: Barlow-SemiBold;
}

.about-area-bg img {
	float: right;
	margin-top: 140px;
}

/*###########################################*/


.features-area {
	margin-top: 140px;
	margin-bottom: 140px;
}

.features-area h4 {
	font-family: Jost-SemiBold;
	font-size: 26px;
}

.features-area p {
	font-family: Barlow-Regular;
	color: gray;
	font-size: 20px;
	margin-bottom: 60px;
}

.features-area img {
	margin-bottom: 30px;
}

.features-area button {
	padding: 20px 50px;
	border: none;
	background: #9fcb22;
	color: white;
}

.features-item {
	padding: 0px 30px;
}

.featured-products {
	background-color: #f6fafb;
	padding: 140px 0;
}

.featured-bg-img img {
	float: left;
	margin-top: 250px;
}

.trading-banner ul li a {
	text-decoration: none;
	color: black;
	padding: 0px 20px;
	font-family: Barlow-SemiBold;
	font-size: 23px;
}

.trading-banner ul {
	margin-bottom: 40px;
}

.trading-banner ul li a:hover {
	color: #9fcb22;
}

/*##########################################*/


.testimonial-area ul {
	padding: 0px;
	margin-bottom: 20px;
}

.testimonial-area ul li {
	text-decoration: none;
	display: inline-block;
	margin-right: 5px;
}

.testimonial-area h6 {
	font-family: Jost-Medium;
	color: #9fcb22;
	font-size: 22px;
}

.testimonial-area h2 {
	font-family: Jost-Medium;
	font-size: 45px;
	margin-bottom: 50px;
}

.testimonial-area-inner h5 {
	font-family: Jost-SemiBold;
	font-size: 22px;
	color: #000;
}

.testimonial-area-inner span {
	color: 	#9fcb22;
}

.testimonial-area p {
	font-family: Barlow-Italic;
	color: gray;
	line-height: 30px;
	font-size: 23px;
}

.testimonial-area-inner {
	background-color: #f6fafb;
	padding: 30px;
	border-top: 3px solid #9fcb22;
	height: auto;
}

.testimonial-area-inner ul li i {
	font-size: 13px;
	color: #fbc729;
}

.testimonial-area-inner img {
	width: 40px !important;
	height: 40px;
	margin-bottom: 35px;
	margin-top: 25px;
}

.coustomer-logo {
	padding-top: 85px;
	display: inline-block;
}

.coustomer-logo img {
	float: right;
}

/*.cmlogo {
	margin-right: 35px;
}*/

/*############################################*/

.subscribe {
	background-color: #aedf23;
	color: white;
	padding: 65px 0px;
	margin-top: 95px;
}

.subscribe h2 {
	font-family: 'Jost-SemiBold';
    font-size: 45px;
	margin-bottom: 30px;
}

input[type=email] {
	padding: 10px;
	border: none;
	font-family: 'Barlow-Regular';
	font-size: 18px;
	width: 70%;
	outline: none;
}

input[type=submit] {
	padding: 10px;
	color: white;
	margin: -5px;
	border: none;
	font-size: 18px;
	font-family: 'Barlow-SemiBold';
	background-color: #14462e;
	width: 25%;
}

.subscribe-area {
	position: relative;
}

.subscribe-area img {
	margin-left: 65px;
    margin-bottom: 0;
    margin-top: -200px;
    float: left;
}

/*####################################################################*/

.footer {
	background-color: #14462e;
	color: #4a8066;
	margin-top: -130px;
	padding-top: 220px;
	border-bottom: 1px solid #4a8066;
	padding-bottom: 50px;
}


.footer h2 {
	font-family: Jost-Medium;
	font-size: 23px;
	margin-bottom: 25px;
    color: white;
}

.footer h5 {
	font-family: Barlow-Regular;
	font-size: 18px;
	margin-bottom: 10px;
}

.footer h6 {
	font-family: Barlow-Regular;
	font-size: 18px;
	margin-bottom: 20px;
}

.footer ul {
	list-style: none;
	padding: 0;
	line-height: 28px;
	font-size: 15px;
}

.footer a {
	color: #4a8066;
}

.footer ul li {
	margin-bottom: 10px;
}

.footer-box {
	padding-left: 160px;
}

/*########################################################*/


.copyright {
	color: #4a8066;
	background-color: #14462e;
	padding-top: 35px;
	padding-bottom: 20px;
}

.copyright ul {
	list-style: none;
	padding-left: 0;
	float: right;
	/*margin-right: 40px;*/
}

.copyright ul li {
	display: inline-block;
	margin: 0 10px;
}

.copyright a {
	color: #4a8066;
}


/*################################################################################################################################################################################################################*/


.about-us-area {
	background-image: url(../images/about-banner-bg.png);
	background-position: right;
 	 background-size: cover;
}

/*.about-us-area ul {
	list-style: none;
	padding: 0;
	margin: 0;
}*/

.about-us-area > .header-menu ul li {
	display: inline-block;
	color: #9fcb22;
}

.about-us {
	background-color: white;
	border-top: 2px solid #9fcb22;
	margin-top: 100px;
	margin-bottom: 140px;
	padding: 50px 0px;

}

.about-us h2 {
	font-size: 45px;
}

.about-us ul {
	padding-left: 0;
  	color: mediumseagreen;
}

.about-us ul li {
	display: inline-block;
	margin: 10px;
	color: #9fcb22;
}

.about-us ul li a {
	color: #9fcb22;
	font-weight: 600;
	font-size: 22px;
}

/*############################################*/


.grocery-img img {
	margin-left: -50px;
}

.grocery-area {
	padding-top: 140px;
}

.grocery-text {
	padding-top: 140px;
}

.grocery-text h2 {
	font-family: Jost-SemiBold;
	font-size: 45px;
	margin-bottom: 30px;
}

.grocery-text p {
	font-family: Barlow-Regular;
	font-size: 20px;
	color: gray;
}

/*##################################################################*/


.customer-review {
	background-color: #f6fafb;
	padding: 140px 0;
}

.our-vision,.our-goal {
	padding: 40px 60px;
	background-color: white;
	border-top: 3px solid #9fcb22;
}

.our-vision h2, .our-goal h2 {
	font-family: 'Jost-SemiBold';
	padding: 8px 0px;
	margin: 0;
	font-size: 38px;
} 

.our-vision p, .our-goal p {
	font-family: 'Barlow-Regular';
	color: gray;
	font-size: 20px;
	margin-bottom: 30px;
}

.our-vision button, .our-goal button {
	padding: 10px 35px;
	border: none;
	background-color: #9fcb22;
	color: white;
	font-family: 'Barlow-SemiBold';
	font-size: 15px;
}

/*##########################################################*/

.about-video {
	background-image: url(../images/about-video-link.png);
	/* padding: 250px; */
	background-size: cover;
	position: relative;
	height: 500px;
}

.video-layer {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -70px;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: 1px solid white;
}

.video-link {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 110px;
    width: 110px;
    background: #ef8228;
    border-radius: 50%;
    margin-top: -55px;
    margin-left: -55px;
}

.video-link i {
	color: white;
	top: 50%;
    left: 50%;
    margin-top: -11px;
    position: absolute;
    margin-left: -11px;
    font-size: 22px;
}

/*##########################################*/

.about-features-area {
	margin-top: 140px;
	margin-bottom: 140px;
}

.about-features-area h2 {
	font-family: 'Jost-SemiBold';
  	font-size: 40px
}


/*###################################################################################################################################################################################*/


.grocery-shop-area {
	width: 80%;
}

.shop-checkbox-categories {
	border: 1px solid #deecf0;
	padding: 20px;
	margin-bottom: 30px;
}

.shop-checkbox-categories h2 {
	font-family: 'Jost-SemiBold';
	font-size: 25px;
	margin-bottom: 25px;
}

.shop-features-area {
	margin-top: 140px;
	margin-bottom: 140px;
}

.shop-filter-price {
	border: 1px solid #deecf0;
	margin-bottom: 30px;
	padding: 20px;
}

.shop-filter-price h4 {
	font-size: 16px;
	color: green;
}

.shop-filter-price h4 i {
	margin-left: 5px;
	font-size: 12px;
}

.shop-filter-price h6 {
	font-size: 16px;
}

.shop-trading-items {
	border: 1px solid #deecf0;
}

.shop-trading-items h1 {
	font-family: Jost-Medium;
	margin-left: 20px;
	padding: 15px;
	font-size: 30px;
}

.shop-trading-img img {
	width: 75%;
  background-color: skyblue;
  margin-left: 20px;
}

.shop-trading {
	padding: 10px 15px;
}

.shop-trading-text h2 {
	font-family: Jost-SemiBold;
	font-size: 16px;
}

.shop-trading-text ul {
	padding: 0px;
	margin: 0;
}

.shop-trading-text ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}


.shop-trading-text p {
	margin: 0;
	font-size: 14px;
	font-family: Barlow-SemiBold;
	color: lightgreen;
}

.shop-trading-btn button {
	font-family: 'Barlow-SemiBold';
	font-size: 15px;
	border: none;
	background: transparent;
	margin-left: 20px;
	padding: 10px 15px;
	color: limegreen;
	margin-bottom: 23px;
}

.shop-filter-price h2 {
	font-family: 'Jost-SemiBold';
  	font-size: 22px;
}

.trading-products {
	margin-bottom: 140px;
}

.form-control:focus-visible {
	outline: none;
}

.btn-secondary {
    background-color: #f6fafb;
    color: gray;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-family: 'Barlow-Regular';
	padding: 15px;
	border: none;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-toggle::after {
	float: right;
	font-size: 25px;
	margin-top: 5px;
}

.trading-products-bg button {
	padding: 15px 20px;
	color: white;
	background-color: green;
	border: none;
	font-size: 14px;
	margin-bottom: 55px;

}

.shop-categories-item .trading-products-bg ul {
	padding: 0;
}

.shop-categories-item .trading-products-bg ul li {
	display: inline-block;
	margin: 1px;
}

label {
	margin-bottom: 10px;
	font-family: Barlow-Regular;
	font-size: 18px;
}


.cat-one {
    background-image: url("../images/categories-1st-bg-img.png");
    background-repeat: round;
	background-size: cover;
}
.cat-two {
    background-image: url("../images/categories-2nd-img.png");
    background-repeat: round;
	background-size: cover;
}
.cat-three {
    background-image: url("../images/categories-3rd-img.png");
    background-repeat: round;
	background-size: cover;
}

.inner-text {
  padding-left: 35px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.inner-text h4 {
	font-size: 28px;
	font-family: 'Jost-Regular';
	line-height: 37px;
	margin-bottom: 40px;
}

.listing-box {
	background-color: red;
	padding: 15px;
	color: white;
	margin-right: 5px;
	font-size: 25px;
}

.listing-list {
	background: green;
	color: white;
	padding: 15px;
	font-size: 25px;
	margin-right: 25px;
}

.listing p {
	display: inline-block;
	font-size: 18px;
	color: #767676;
}

.input-group .form-control {
	background-color: #f6fafb;
	border: none;
	font-size: 18px;
	padding: 15px;
}

.input-group .form-control:hover {
	background: gray;
}

.input-group .input-group-text {
	background-color: #f6fafb;
	border: none;
}

.shop-features-area .collapse ul {
	display: block;
}

/*################################################################################################################################################################################################################*/


.groxi-pages-area {
	background-image: url(../images/about-banner-bg.png);
	background-size: cover;
	background-repeat: round;
}

.pages-related-product {
	margin-bottom: 140px;
}

.pages-product ul {
	padding: 0;
	display: inline-block;
}

.pages-product ul li {
	display: inline-block;
	margin-right: 10px;
}

.pages-slider i {
	color: white;
  background: #9fcb22;
  padding: 4px 58px;
  font-size: 20px;
  text-align: center;
}

.pages-slider i:hover {
	color: #9fcb22;
	background-color: white;
	border: 1px solid #9fcb22;
}

.pages-slider {
	max-height: 605px;
}

.slider-img {
	background-color: #f6fafb;
	margin: 5px 0;
  text-align: center;
  border: 1px solid transparent;
}

.slider-img:hover {
	border: 1px solid lightgreen;
}

.pages-slider img {
  margin: 6px 0;
  max-width: 105px;
}

.slider-product {
	max-height: 605px;
	border: 1px solid transparent;
}

.select-product:hover {
	border: 1px solid lightgreen;
}

.select-product {
	height: 572px;
	text-align: center;
	padding-top: 200px;
	background: #f6fafb;
	border: 1px solid transparent;
}

.slider-product-details {
	padding-left: 35px;
}


.slider-product-details h4 del {
	font-family: Barlow-Light;
	color: #b2b3b4;
}

.slider-product-details h4 span {
	font-family: Barlow-SemiBold;
	color: #9fcb22;
	font-size: 35px;
	padding-left: 10px;
}

.slider-product-details h3 {
	font-family: 'Jost-Medium';
	font-size: 24px;
	margin-top: 30px;
}


input[type=button]{
	border: 1px solid #deecf0;
  	background: white;
	height: 35px;
	width: 35px;
	font-size: 18px;
}

input[type=number]{
	border: 1px solid #deecf0;
	height: 35px;
	margin: -5px;
	width: 100px;
	text-align: center;
	font-family: 'Barlow-Regular';
}

.slider-product-details button {
	padding: 8px 35px;
	font-size: 13px;
	color: white;
	background: black;
	border: none;
	font-family: 'Barlow-Bold';
	margin-left: -12px;
}

.slider-product-details p {
	font-size: 20px;
	color: #6c6c6c;
	font-family: 'Barlow-Light';
}

.tab-pane p {
	font-size: 20px;
}


/*###############################################################################*/

.product-share span {
	font-family: 'Jost-Medium';
	font-size: 24px;
	margin-right: 15px;
}

.product-share ul li i {
	color: #9fcb22;
}


.slider-product-details > .product-service h4 {
	display: inline-block;
}


.product-service {
	border: 1px solid #deecf0;
	padding: 10px;
	font-family: jost-semibold;
}

.product-service h4 {
	display: inline-block;
}

.product-service img {
	max-width: 60px;
}

.pages-product {
	margin-top: 140px;
	margin-bottom: 90px;
}

/*###############################################################################*/

.pages-description {
	margin-bottom: 80px;
}

.pages-description ul {
	padding: 0;
	border-bottom: 1px solid #deecf0;
}

.heading-banner .nav-link {
	font-weight: 600;
	padding: 0;
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid #9fcb22;
}

.nav-tabs .nav-link:hover {
    border-bottom: 3px solid #9fcb22;
    color: #9fcb22;
}

.nav-tabs .nav-link {
	border: none;
	margin-right: 50px;
	font-size: 20px;
	padding: 0;
	padding-bottom: 10px;
	font-family: jost-medium;
}

.pages-description ul li {
	display: inline-block;
}

.pages-description ul li a {
	text-decoration: none;
	font-family: 'Jost-SemiBold';
	font-size: 20px;
	color: black;
}

/*.pages-description ul li a:hover {
	border-bottom: 3px solid #9fcb22;
  padding-bottom: 15px;
}*/

.pages-description p {
	font-family: 'Barlow-light';
	font-size: 17px;
	line-height: 28px;
}

.pages-related-product h1 {
	font-family: 'jost-semibold';
	margin-bottom: 40px;
}

.pages-related-product ul {
	padding: 0;
}

.pages-related-product ul li {
	display: inline-block;
	margin: 3px;
}

.pages-related-product > .trading-products-bg button {
	color: white;
}

.review {
	margin-bottom: 90px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


							/*Groxi-Store-Blog*/

.groxi-blog-area {
	background-image: url(../images/about-banner-bg.png);
	background-size: cover;
}

.blog-posts {
	margin-top: 140px;
	margin-bottom: 140px;
}

.blog-post-categories ul {
	display: block;
}

.blog-post-categories {
	border: 1px solid #deecf0;
   	padding: 15px 30px;
}

.blog-post-img {
	padding-bottom: 20px;
}

.blog-post-contant {
	background-color: #f6fafb;
	padding: 25px;
}

.blog-post-contant h6 {
	font-family: 'barlow-regular';
}

.blog-post-contant span {
	color: #9fcb22;
}


.blog-post-contant h4 {
	font-family: 'jost-semibold';
	font-size: 23px;
 	line-height: 30px;
}

.blog-post-contant p {
	font-family: 'barlow-light';
	font-size: 18px;
}

.blog-post-contant button {
	padding: 7px 15px;
	color: white;
	background: #14462e;
	border: none;
	font-family: 'Barlow-semibold';
	border: 1px solid transparent;
}

.blog-post-contant button:hover {
	border: 1px solid #14462e;
	background-color: white;
	color: #14462e;
}


.blog-slider ul {
	padding: 0;
}

.blog-slider ul li {
	display: inline-block;
	margin: 10px 10px 0 0;
}

.blog-slider ul li a {
	text-decoration: none;
	border: 1px solid #deecf0;
	padding: 7px 15px;
	font-family: 'Barlow-Regular';
	color: dimgray;
}

.blog-slider .active {
	background-color: #9fcb22;
	color: white !important;
}

.blog-slider ul li a:hover {
	color: white;
	background-color: #9fcb22;
}

.blog-slider ul li i {
	padding: 9px 13px;
	color: dimgray;
	border: 1px solid #deecf0;
}

.blog-slider ul li i:hover {
	color: white;
	background-color: #9fcb22;
}

.blog-slider > .active {
	color: white;
	background-color: #9fcb22 !important;
}

.shop-trading-text h6 {
	font-size: 13px;
	color: lightgray;
	font-family: 'barlow-light';
}

.navbar-nav i {
	color: #a6d523;
	margin-right: 10px;
}

/*########################################################################################################################################*/


.groxi-contact-area {
	background-image: url(../images/about-banner-bg.png);
	background-size: cover;
	margin-bottom: 140px;
}
.contact-from {
	background-color: #cfeef6;
	padding: 45px 25px;
}

.contact-reach-us {
	background-color: #9fcc22;
	padding: 45px;
	color: white;
}

.contact-from h2 {
	font-family: jost-semibold;
	font-size: 45px;
	margin-bottom: 30px;
}

.contact-reach-us h2 {
	font-size: 45px;
	margin-bottom: 30px;
}

.contact-reach-us p {
	font-size: 14px;
	margin-bottom: 7px;
}

.contact-reach-us i {
	font-size: 50px;
	padding: 20px 0px;
}

.contact-reach-us h6 {
	font-size: 20px;
	padding-top: 12px;
}

.contact-from input[type=email], .contact-from input[type=name], .contact-from input[type=phone], .contact-from input[type=address]{
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: none;
	color: gray;
	font-size: 18px;
}

textarea {
	width: 100%;
	padding: 10px;
	color: gray;
	border: none;
}

.contact-from button {
	background: #9fcc22;
	color: white;
	font-family: 'Barlow-SemiBold';
	font-size: 15px;
	border: none;
	padding: 20px 45px;
	margin-top: 25px;
}

.contact-from button:hover {
	color: #9fcc22;
	background-color: white;
}



/*####################################################################################################################*/


.contact-map {
	padding: 100px 0;
}